#python
**/__pycache__

#me
language/A	                    # not worth testing and pushing
**/data                         # doesn't need to be in commits
**/key.txt                      # just to be safe
**/*.sh                         # startup scripts
